@font-face {
  font-family: "Woodys";
  src: url("../assets/fonts/wood/woodys/Woodys.ttf") format("truetype");
}

.contact-div {
  position: absolute;
  left: 10.9vw;
  top: 15vw;
  z-index: 30;
  font-size: 6vw;
  font-family: "Woodys", sans-serif;
  color: #451f0a;
}
