.letrero {
  position: absolute;
  z-index: 5m;
  top: 0;
  left: 40%;
  width: 52vw;
  height: auto;
  transition: 1s ease;
}

.letreront {
  position: absolute;
  z-index: 5m;
  top: -100%;
  left: 40%;
  width: 52vw;
  height: auto;
  transition: 1s ease;
}
