body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.nombre {
  position: absolute;
  top: 10vh;
  left: 38vw;
  font-family: "sifonnbasic_outline";
  text-align: center;
  color: #885b38;
  font-size: 600%;
}

.nombre span {
  display: block;
}

.profession {
  font-size: 30%;
  color: black;
}
