body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/fondo.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.nombre {
  position: absolute;
  top: 10%;
  left: 38.2%;
  font-family: "sifonnbasic_outline";
  text-align: center;
  color: #885b38;
  font-size: 7vw;
  z-index: -1;
}

.nombre span {
  display: block;
}

.profession {
  font-size: 30%;
  color: black;
}
